<div>
  <div *ngIf="userId">
    <div>
      <h3>Work with structure</h3>
      <button (click)="createRootFolder()" [disabled]="createButtonCheck()">Create root Folder</button>
      <button (click)="deleteRootFolder()">Delete root Folder</button>
      <p>{{ rootFolderIdResp.folderIdMessage }}</p>
    </div>
    <div *ngIf="rootFolderIdResp.folderId">
      <div>
        <h3>Generate reports</h3>
        <button (click)="onGenerateReports()">Generate Reports</button>
        <p *ngIf="generateReportsMessage">Status: {{ generateReportsMessage }}</p>
      </div>
    </div>
  </div>
</div>