<div>
    <div>
        <h3>Upload Time Sheet Template</h3>
        <input type="file" (change)="onTimeSheetTemplateSelected($event)">
        <button (click)="onUploadTimeSheetTemplate()" [disabled]="timeSheetTemplateDisabled || disableAllButtons">Upload</button>
        <button (click)="onDownloadTimeSheetTemplate()" [disabled]="disableAllButtons">Download Time Sheet Template File</button>

        <div *ngIf="timeSheetTemplateMessage">
            <p>Progress: {{ timeSheetTemplateMessage }}</p>
        </div>

    </div>
    <div>
        <h3>Upload Report Template</h3>
        <input type="file" (change)="onReportTemplateSelected($event)">
        <button (click)="onUploadReporTemplate()" [disabled]="reportTemplateDisabled || disableAllButtons">Upload</button>
        <button (click)="onDownloadReportTemplate()" [disabled]="disableAllButtons">Download Time Sheet Template File</button>

        <div *ngIf="reportTemplateMessage">
            <p>Progress: {{ reportTemplateMessage }}</p>
        </div>

    </div>
    <div>
        <h3>Upload Time Sheets</h3>
        <input type="file" (change)="onFileSelected($event)" multiple />
        <button (click)="onUploadTimeSheetsFiles()" [disabled]="timeSheetsDisabled || disableAllButtons">Load Files</button>
        <button (click)="onDeleteAllTimeSheetsFiles()" [disabled]="disableAllButtons">Clean the Time Sheet folder</button>
        <p *ngIf="deleteTimeSheetsMessage">Clean is {{ deleteTimeSheetsMessage }}</p>
        <ul>
            <li *ngFor="let file of timeSheetStatus">
                {{ file.name }} - {{ file.status }}
            </li>
        </ul>
    </div>
</div>